*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Generics*/

body{
    background-color: #aaaaaa;
}


/*Header*/
header{
    background-color: #fff;
    height: 100px;
    width: auto;
}

.logo-text{
    display: inline-block;
    font-size: 44px;
}

#logo{
    vertical-align:middle;

}

/*Main*/

.main-container{
    width: 1000px;
    height: auto;
    background-color: #fff;
    margin: 0 auto;

}

.button-main{
    padding: 20px;
}

.btn-active{
    border-radius: 6px;
    background-color: rgb(42, 168, 241);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-style: none;
}
.btn-off{
    border-radius: 6px;
    background-color: #fff;
    color: #686767;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #686767;
    opacity: 0.8;
}

.text-task{
    padding: 20px;
}